@import 'antd/dist/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&family=Stack+Sans+Notch:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

:root{
    --font-stack-sans: "Stack Sans Text", sans-serif;;
    --background-color: rgb(3,1,16);
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-stack-sans) !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #dddddd;
}

body {
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1740px;
  width: 91%;
  height: 100%;
  margin: 0 auto;
}