@import 'antd/dist/reset.css';

:root{
    --font-geist-sans: "Geist", sans-serif;
    --background-color: rgb(3,1,16);
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-geist-sans);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #dddddd;
}

body {
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1740px;
  width: 91%;
  height: 100%;
  margin: 0 auto;
}

.main-background-video{
  background-attachment: fixed;
  bottom: 0;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
}