@import 'antd/dist/reset.css';

:root{
    --font-geist-sans: "Geist", sans-serif;
}

*{
    font-family: var(--font-geist-sans);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



// Ваши кастомные стили
body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}