@import "../../styles/variables.scss";

.slider{
    margin: 0px;

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $base-border-radius !important;
    }
}