@import "../../styles/variables.scss";

.slider{
    max-width: 70%;
    margin: 0px;
    margin-left: auto;

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}