@import "../../styles/variables.scss";

.auth{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    background-image: url('/assets/images/auth-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &__wrapper{
        width: 100%;
        height: 100vh;
        background-color: #00000085;
    }

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}