@import "../../styles/variables.scss";

.hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 80px;
        background: $hero-gradient;
    }

    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
        transform: rotate(180deg);
        background: $hero-gradient;
    }

    &__background_video{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        object-fit: cover;
        position: fixed;
        z-index: -10;
        top: 0;
        left: 0;
        filter: brightness(80%);
    }

    &__сontainer{
        position: relative;
        z-index: 2;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__сontent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__intro{
        display: inline-block;
        text-align: center;
        color: $white-ghost-color;
        font-size: 20px;
        line-height: 1.4;
    }

    &__title{
        font-weight: 400;
        color: $white-color;
        font-size: 98px;
        line-height: 1;
        margin: 15px 0px 30px;
    }

    &__description{
        display: inline-block;
        text-align: center;
        color: $text-ghost-color;
        font-size: 24px;
        line-height: 1.4;
    }

    &__button{
        margin-top: 40px;
        font-size: 24px !important;
        padding: 30px 50px;
        border-radius: $base-border-radius;
        box-shadow: none !important;
        border: 2px solid $border-color;
        background-color: $glass-background-color;
        backdrop-filter: blur(13px);

        &:hover{
            border: 2px solid transparent !important;
            background-color: #8247c5a9 !important;
            -webkit-box-shadow: 0px 14px 27px 10px rgba(143, 79, 233, 0.2);
            -moz-box-shadow: 0px 14px 27px 10px rgba(143, 79, 233, 0.2);
            box-shadow: 0px 14px 27px 10px rgba(143, 79, 233, 0.2) !important;
        }
    }
}

@media (max-width: 425px){
    .hero{
        max-height: 700px;
    }
}