@import "../../../styles/variables.scss";

.game{

    &__container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title{
        color: $white-color;
    }
}