@import "../../../styles/variables.scss";

.game{
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    margin-top: 0px;

    &__content{
        width: 100%;
        padding-top: 100px;
        display: grid;
        grid-template-columns: 450px auto;
        grid-template-rows: 650px auto;
        gap: 30px;
    }

    &__description_wrapper{
        display: flex;
        flex-direction: column;
    }

    &__information_wrapper{
        width: 100%;
        max-height: 50%;
        padding: 20px;
        border-radius: $base-border-radius;
        background-color:  $cards-background-color;
        backdrop-filter: blur(7px);
        overflow-y: auto;
        scrollbar-width: none;
        margin-bottom: 10px;
    }

    &__title{
        color: $white-color;
        margin-left: auto;
        margin-bottom: 20px;
    }

    &__description{
        line-height: 24px;
    }
}