@import "../../../styles/variables.scss";

.game{

    &__container{
        height: 100vh;
        display: flex;
        align-items: center;
    }

    &__title{
        color: $white-color;
    }

    &__information_wrapper{
        height: 100%;
        border-radius: 20px;
        background-color: $white-ghost-color;
    }
}