@import "../../../styles/variables.scss";

.game{
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    margin-top: 0px;
    position: relative;
    background: radial-gradient(125% 125% at 50% 10%, #0f0f0f 40%, #1c092b 100%);

    &__content{
        width: 100%;
        padding-top: 100px;
        display: grid;
        grid-template-columns: 450px auto;
        grid-template-rows: 650px auto;
        gap: 30px;
    }

    &__description_wrapper{
        display: flex;
        flex-direction: column;
    }

    &__title{
        color: $white-color;
        margin-bottom: 10px;
        font-size: 48px;
    }

    &__slider_wrapper{
        position: relative;
        max-width: 100%;
        overflow: hidden;
    }

    &__slider_actions{
        position: absolute;
        left: 10px;
        bottom: 10px;
        z-index: 2;
        display: flex;
        align-items: center;
    }

    &__slider_like_icon svg{
        width: 30px !important;
        height: 30px !important;
        transform: translateY(1px);
        transition: all .3s ease;
        fill: $text-color !important;
    }

    &__slider_like_button{
        font-size: 16px !important;
        padding: 24px 9px;
        border-radius: 50%;
        box-shadow: none !important;
        border: 1px solid $cards-background-color;
        background-color: $cards-background-color;
        backdrop-filter: blur(12px);
        display: flex;
        align-items: center;
        border: 1px solid #6d6d6d3f;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            background-color: $cards-background-color !important;
            border: 1px solid $cards-background-color !important;
        }

        &:hover svg{
            fill: $red-color !important;
        }
    }

    &__slider_button{
        font-size: 18px !important;
        padding: 22px 18px 22px 22px;
        border-radius: $base-border-radius;
        box-shadow: none !important;
        border: 1px solid $cards-background-color;
        background-color: $cards-background-color;
        backdrop-filter: blur(12px);
        display: flex;
        align-items: center;
        border: 1px solid #6d6d6d3f;
        margin-right: 10px;

        & *{
            transition: color .3s ease;
        }

        &:hover{
            background-color: $cards-background-color !important;
            border: 1px solid $cards-background-color !important;
        }

        &_icon{
            transform: rotate(-45deg);
            transition: transform .3s ease;
        }

        &:hover *{
            color: #d400ff !important;
            transform: rotate(0deg);
        }
    }

    &__back_button{
        position: absolute;
        left: 20px;
        top: 100px;
        padding: 22px 11px;
        transform: rotate(180deg);
        background-color: $cards-background-color !important;
        border: 1px solid $cards-background-color !important;
        border-radius: 50%;

        & *{
            width: 22px;
            height: 22px;
            transition: color .3s ease;
        }

        &:hover * {
            color: $primary-hover-color;
        }
    }
}