@import "../../../styles/variables.scss";

.game{
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    background-image: linear-gradient(to right top, #8431b1, #7a2da3, #702a96, #672689, #5d237c, #522371, #482366, #3e225a, #33234c, #2a223d, #23202d, #1d1d1d);
    margin-top: 0px;

    &__content{
        width: 100%;
        padding-top: 100px;
        display: grid;
        grid-template-columns: 450px auto;
        grid-template-rows: 650px auto;
        gap: 30px;
    }

    &__information_wrapper{
        width: 100%;
        max-height: 50%;
        padding: 20px;
        border-radius: 20px;
        background-color:  $cards-background-color;
        backdrop-filter: blur(7px);
        overflow-y: auto;
        scrollbar-width: none;
    }

    &__title{
        color: $white-color;
        margin-left: auto;
        margin-bottom: 20px;
    }

    &__description{
        line-height: 24px;
    }
}