@import "../../../styles/variables.scss";

.game{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/game-background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110%;
    margin-top: 0px;
    padding-top: 100px;

    &__container{
        height: fit-content;
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    &__information_wrapper{
        width: 28%;
        padding: 20px;
        border-radius: 20px;
        background-color:  $cards-background-color;
        backdrop-filter: blur(7px);
    }

    &__title{
        color: $white-color;
        margin-left: auto;
        margin-bottom: 20px;
    }

    &__description{
        line-height: 24px;
    }
}