@import "../../styles/variables.scss";

.platforms{
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-bottom: 10px;
    
    &__title{
        font-size: 16px;
        margin-right: 10px;
        min-width: 88px;
    }

    &__list{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__item{
        backdrop-filter: blur(7px);
        padding: 8px;
        border-radius: 12px;
        background-color:  $cards-background-color;
        position: relative;
        display: flex;
        align-items: center;

        &::after {
            content: attr(data-tooltip);
            position: absolute;
            top: 110%;
            left: 50%;
            transform: translateX(-50%);
            background: $cards-background-color;
            color: $text-color;
            padding: 5px 10px;
            border-radius: 20px;
            font-size: 12px;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;
            pointer-events: none;
            z-index: 1000;
        }
    
        &:hover::after {
            opacity: 1;
            visibility: visible;
        }
    }

    &__icon{
        width: 28px;
        height: 28px;
    }
}