@import "./variables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $text-color;
}

*::selection{
  background-color: $primary-hover-color;
}

body {
  background-color: $background-color;
  cursor: url('/assets/images/cursor.png'), auto;
}


h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

/* SCROLLBAR */

html {
  scrollbar-color: #8419ff50 $glass-background-color;
  scrollbar-width: thin;
}

.container{
  max-width: 1740px;
  width: 91%;
  height: 100%;
  margin: 0 auto;
}

/* SLIDERS */

.swiper{
  max-height: 100% !important;
  border-radius: 20px !important;
}

.swiper-slide{
  overflow: hidden !important;
  border-radius: $base-border-radius !important;
  cursor: grab !important;
}

.swiper-pagination{
  width: fit-content !important;
  left: 50% !important;
  bottom: 20px !important;
  transform: translate(-50%, 0%) !important;
  padding: 0px 10px 4px 10px !important;
  border-radius: $base-border-radius !important;
  background-color: $cards-background-color !important;
}

.swiper-pagination-bullet{
    background: $text-color !important;
}

.swiper-pagination-bullet-active{
    background: $primary-color !important;
}