/* ============= VARIABLES ============= */

$background-color: #0f0f0f;
$glass-background-color: #ffffff17; 
$primary-color: #8419ff;
$primary-hover-color: #9242ee;
$primary-active-color: #7836c4;
$white-color: #ffffff;
$white-ghost-color: #ffffff79;
$black-color: #000;
$light-grey-color: #6d6d6d;
$text-color: #dddddd;
$text-ghost-color: #cfcfcf;
$border-color: #ffffff4d;