/* ============= VARIABLES ============= */

$background-color: #0f0f0f;
$glass-background-color: #ffffff17;
$cards-background-color: #2e2e2ea6;
$primary-color: #8419ff;
$primary-hover-color: #9242ee;
$primary-active-color: #7836c4;
$red-color: #eb2121;
$white-color: #ffffff;
$white-ghost-color: #ffffff79;
$black-color: #000;
$light-grey-color: #6d6d6d;
$text-color: #dddddd;
$text-ghost-color: #cfcfcf;
$border-color: #ffffff4d;
$base-border-radius: 16px;
$top-color: rgb(15, 158, 15);
$good-color: rgb(15, 106, 158);
$ok-color: rgb(158, 156, 15);
$bad-color: rgb(158, 44, 15);
$hero-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 100%);

/* ============= MIXINS ============= */

@mixin button-base {
    display: inline-block;
    color: $white-color;
    background-color: $primary-color;
    padding: 21px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background-color: $primary-color;
    }
}