@import "../../styles/variables.scss";

.developers{
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-bottom: 10px;
    
    &__title{
        font-size: 16px;
        margin-right: 10px;
        min-width: 88px;
    }

    &__list_wrapper{
        max-width: 100%;
        overflow: hidden;
    }

    &__list{
        display: flex;
        align-items: center;
        max-width: 100%;
        overflow: auto;
        scrollbar-width: none;
        gap: 4px;
    }

    &__item{
        backdrop-filter: blur(7px);
        padding: 2px 6px;
        border-radius: 8px;
        background-color:  $cards-background-color;
        position: relative;
        display: flex;
        align-items: center;
        text-wrap: nowrap;
    }
}