@import "../../styles/variables.scss";

.popular{
    width: 100%;
    background-color: $background-color;
    padding-top: 80px;
}

.heading{
    font-size: 32px;
    margin-bottom: 30px;
    width: 100%;
    text-align: start;
}

.game_list__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: transparent;
    border: none;
    overflow: hidden;
    transition: transform .2s ease;

    &-title *{
        color: $white-color !important;
    }

    :global(.ant-card-body) {
        padding: 18px 0px;
    }
    
    :global(.ant-card-meta-title) {
        font-size: 20px;
        display: flex;
    }

    :global(.ant-card-cover) {
        border-radius: $base-border-radius;
        overflow: hidden;
    }

    &:hover{
        box-shadow: none !important;
        transform: scale(0.98);
    }

    &__star{
        margin-left: auto;
    }

    &__star *{
        color: rgb(219 196 20) !important;
    }
}

.button_more{
    @include button-base;
    font-size: 18px;
    margin: 20px 0px;
}