@import "../../styles/variables.scss";

.wrapper{
    display: flex;
    align-items: center;
}

.logo{
    max-width: clamp(2.5rem, 2.2887rem + 1.0563vw, 3.4375rem); /* 55px > 40px */
    max-height: clamp(2.5rem, 2.2887rem + 1.0563vw, 3.4375rem); /* 55px > 40px */
    margin-right: 10px;

    @media (max-width: 425px) {
        display: none;
    }
}

.heading{
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 0.831rem + 0.8451vw, 1.75rem); /* 28px > 16px */
    font-weight: 500;
    transform: translateY(2px);
    text-wrap: nowrap;
    margin: 0px;
    margin-right: 10px;

    @media(max-width: 425px){
        margin-left: 8px;
    }
}

.plusWrapper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: clamp(1.5625rem, 1.4639rem + 0.493vw, 2rem); /* 32px > 25px */
    transition: transform .3s ease;
    transform-origin: center center;
    animation: logo-animation 12s ease infinite;
}

.plus{
    width: 100%;
    text-align: center;
    font-size: clamp(1.5625rem, 1.3794rem + 0.9155vw, 2.375rem); /* 38px > 25px */
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 0.4;
    color: $primary-color;
    margin-bottom: 0px;
}

/* @keyframes logo-animation{
    0% {
        transform: rotate(0deg);
    }
    16% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

@keyframes logo-animation{
    0% {
        transform: scale(1);
    }
    2% {
        transform: scale(0.7);
    }
    4% {
        transform: scale(1.1) rotate(360deg);
    }
    6% {
        transform: scale(0.7) rotate(360deg);
    }
    8% {
        transform: scale(1.1) rotate(360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}