@use "../../styles/variables" as *;

.wrapper{
    display: flex;
    align-items: center;
}

.logo{
    @include fluid(max-width, 55, 40);
    @include fluid(max-height, 55, 40);
    margin-right: 10px;

    @media (max-width: 425px) {
        display: none;
    }
}

.heading{
    display: flex;
    align-items: center;
    @include fluid(font-size, 28, 16);
    font-weight: 500;
    transform: translateY(2px);
    text-wrap: nowrap;
    margin: 0px;
    margin-right: 10px;

    @media(max-width: 425px){
        margin-left: 8px;
    }
}

.plusWrapper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include fluid(width, 32, 25);
    transition: transform .3s ease;
    transform-origin: center center;
    animation: logo-animation 12s ease infinite;
}

.plus{
    width: 100%;
    text-align: center;
    @include fluid(font-size, 38, 25);
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 0.4;
    color: $primary-color;
    margin-bottom: 0px;
}

/* @keyframes logo-animation{
    0% {
        transform: rotate(0deg);
    }
    16% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

@keyframes logo-animation{
    0% {
        transform: scale(1);
    }
    2% {
        transform: scale(0.7);
    }
    4% {
        transform: scale(1.1) rotate(360deg);
    }
    6% {
        transform: scale(0.7) rotate(360deg);
    }
    8% {
        transform: scale(1.1) rotate(360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}