@use "../../styles/variables" as *;

.form_wrapper{
    position: relative;
    width: 90%;
    max-width: 440px;
    height: fit-content;
    @include fluid(padding, 30, 15);
    border-radius: $base-border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #25252593;
    border: 1px solid $border-color;
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);

    &__heading{
        @include fluid(font-size, 30, 20);
        color: $white-color;
        text-align: center;
        font-weight: 300;
    }

    &__description{
        @include fluid(font-size, 18, 16);
        color: $white-ghost-color;
        text-align: center;
        font-weight: 300;
        margin-top: 8px;
    }

    &__logo{
        @include fluid((width, height), 200, 100);
        margin: 0 auto;
    }
}

.input_groupe{
    display: flex;
    flex-direction: column;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    & div{
        @include fluid(gap, 16, 8);
    }

    &__input{
        @include fluid(font-size, 18, 14);
        @include fluid((padding-left, padding-right), 16, 10);
        @include fluid((padding-top, padding-bottom), 10, 5);
        background: #ffffffd5 !important;

        &:hover{
            border-color: $primary-color;
        }

        &:focus-within{
            border-color: $primary-color;
        }

        &:disabled{
            background: red;
        }
    }

    &__input_invalid{
        @include fluid(font-size, 18, 14);
        color: red;
        margin: 0px;
    }

    &__input_icon *{
        color: $light-grey-color;
        @include fluid(font-size, 18, 14);
        margin-inline-end: 4px;
    }

    &__button{
        @include fluid(height, 50, 35);
        background-color: $primary-color;
        @include fluid(font-size, 20, 16);
        font-weight: 500;

        &:hover{
            background: $primary-hover-color !important;
        }

        &:active{
            background: $primary-active-color !important;
        }

        &:disabled{
            background: rgba(95, 95, 95, 0.596);
            border-color: rgba(95, 95, 95, 0.596);
        }

        &:disabled:hover{
            background: rgba(95, 95, 95, 0.596) !important;
        }

        &:disabled *{
            color: rgba(197, 197, 197, 0.596);
        }
    }

    &_auth_description{
        display: flex;
        align-items: center;

        &_text{
            margin-bottom: 0px !important;
            margin-right: 10px;
        }
    }
}

.form_wrapper :global(.ant-input-password-icon) *{
    color: $light-grey-color !important;
}

.form_wrapper :global(.ant-otp-input){
    @include fluid(min-height, 60, 40);
    @include fluid(font-size, 18, 14);
    font-weight: 600;

    &:hover{
        border-color:$primary-color;
    }

    &:focus-within{
        border-color:$primary-color;
    }

    &:disabled{
        background: red;
    }
}