@import "../../styles/variables.scss";

.form_wrapper{
    position: relative;
    width: 90%;
    max-width: 440px;
    height: fit-content;
    padding: clamp(.75rem, .3929rem + 1.7857vw, 2rem);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #25252593;
    border: 1px solid $border-color;
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);

    &__heading{
        font-size: 28px;
        color: $white-color;
        text-align: center;
        font-weight: 300;
        margin-bottom: 20px;
    }

    &__logo{
        margin: 0 auto;
    }
}

.input_groupe{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form{
    width: 100%;

    &__input{
        font-size: 18px;
        padding: 10px 16px;
        background: #ffffffd5 !important;

        &:hover{
            border-color: $primary-color;
        }

        &:focus-within{
            border-color: $primary-color;
        }

        &:disabled{
            background: red;
        }
    }

    &__input_invalid{
        color: red;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    &__input_icon *{
        color: $light-grey-color;
        font-size: 18px;
        margin-inline-end: 4px;
    }

    &__button{
        height: 50px;
        background-color: $primary-color;
        font-size: 20px;
        font-weight: 500;

        &:hover{
            background: $primary-hover-color !important;
        }

        &:active{
            background: $primary-active-color !important;
        }

        &:disabled{
            background: rgba(95, 95, 95, 0.596);
            border-color: rgba(95, 95, 95, 0.596);
        }

        &:disabled:hover{
            background: rgba(95, 95, 95, 0.596) !important;
        }

        &:disabled *{
            color: rgba(197, 197, 197, 0.596);
        }
    }

    &_auth_description{
        display: flex;
        align-items: center;

        &_text{
            margin-bottom: 0px !important;
            margin-right: 10px;
        }
    }
}

.form_wrapper :global(.ant-input-password-icon) *{
    color: $light-grey-color !important;
}

.form_wrapper :global(.ant-otp-input){
    min-height: clamp(2.8125rem, 2.5446rem + 1.3393vw, 3.75rem); /* 60px > 45px */
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem) !important; /* 24px > 16px */
    font-weight: 600;

    &:hover{
        border-color:$primary-color;
    }

    &:focus-within{
        border-color:$primary-color;
    }

    &:disabled{
        background: red;
    }
}