@import "../../styles/variables.scss";


.description{
    max-height: 50%;
    margin-bottom: 10px;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 30px;
        border-top-left-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
        overflow: hidden;
        transform: rotate(180deg);
        background: linear-gradient(180deg, rgba(34, 34, 34, 0.951), rgba(46, 46, 46, 0) 100%);
    }

    &__wrapper{
        width: 100%;
        max-height: 100%;
        padding: 10px 15px 25px 15px;
        border-radius: $base-border-radius;
        background-color:  $cards-background-color;
        backdrop-filter: blur(7px);
        overflow-y: auto;
        scrollbar-width: none;
        border: 1px solid $cards-background-color;
    }

    &__content{
        line-height: 24px;
    }
}