@import "../../styles/variables.scss";

.header{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(0px);
    left: 50%;
    transform: translate(-50%, 0%);
    border: 1px solid transparent;
    transition: all .5s ease;

    &__container{
        max-width: 1740px;
        width: 91%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: width .5s ease;

        &_scroll{
            width: 95%;
        }
    }

    &__search{
        max-width: 400px;
        background-color: rgba(255, 255, 255, 0.315);
        border: 1px solid transparent;
        margin-right: auto;
    }

    &__search_icon svg{
        width: 20px;
        height: 20px;
        fill: #FFF;
    }

    &__scroll{
        background-color:  rgb(30 25 30 / 65%);
        box-shadow: 0px 4px 9px 0px #00000017;
        backdrop-filter: blur(7px);
        border-radius: 50px;
        width: 70%;
        height: 70px;
        margin-top: 10px;
        border: 1px solid rgba(73, 73, 73, 0.65);
    }
}