@import "../../styles/variables.scss";

.footer{
    background-color: $background-color;
    width: 100%;
    height: 500px;
    border-width: 2px;
    position: relative;
    background-image: url(../../../public/assets/images/footer_background.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 43% -60%;

    &__overlay{
        width: 100%;
        height: 100%;
        background-color: #0f0f0f3b;
        padding: 30px 0px;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0px;
        top: -30px;
        width: 100%;
        height: 30px;
        overflow: hidden;
        transform: rotate(180deg);
        background: linear-gradient(180deg, #0f0f0f, rgba(46, 46, 46, 0) 100%);
    }

    &__container{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
