@import "../../styles/variables.scss";

.footer{
    background-color: $background-color;
    width: 100%;
    border-width: 2px;
    position: relative;
    background-image: url(../../../public/assets/images/footer_background.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 43% 100%;

    &__overlay{
        width: 100%;
        height: 100%;
        background-color: #0f0f0f3b;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0px;
        top: -30px;
        width: 100%;
        height: 30px;
        overflow: hidden;
        transform: rotate(180deg);
        background: linear-gradient(180deg, #0f0f0f, rgba(46, 46, 46, 0) 100%);
    }

    &__container{
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        padding: 150px 0px 30px 0px;
    }

    &__content_wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content_container{
        display: flex;
        align-items: center;
    }

    &__content{
        width: 250px;
        height: 300px;

        &_list{

            &_item{
                width: fit-content;
                margin-bottom: 10px;

                & a{
                    transition: color .3s ease;
                }

                &:hover a{
                    color: $primary-hover-color;
                }
            }
        }

        &_list_special{
            display: flex;
            flex-direction: column;
            align-items: end;
        }

        &_heading{
            font-variant-caps: all-small-caps;
            color: #5f5f5f;
            font-size: 22px;
            margin-bottom: 30px;
        }

        &_heading_special{
            text-align: end;
        }
    }
}
