@import "../../styles/variables.scss";

.footer{
    background-color: $background-color;
    width: 100%;
    min-height: 500px;
    padding: 30px 0px;
    border-top: 1px dashed $border-color;
    border-width: 2px;

    &__container{
        font-size: 56px;
    }
}
