@import "../../styles/variables.scss";

.footer{
    background-color: $background-color;
    width: 100%;
    border-width: 2px;
    position: relative;
    background-image: url(../../../public/assets/images/footer_background.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 43% 100%;

    &__overlay{
        width: 100%;
        height: 100%;
        background-color: #0f0f0f3b;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0px;
        top: -30px;
        width: 100%;
        height: 30px;
        overflow: hidden;
        transform: rotate(180deg);
        background: linear-gradient(180deg, #0f0f0f, rgba(46, 46, 46, 0) 100%);
    }

    &__container{
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        padding: 150px 0px 30px 0px;
    }

    &__content_wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content{
        width: 400px;
        height: 300px;
        background-color: #ffffff17;
        backdrop-filter: blur(7px);
        padding: 10px 40px;
        border-radius: $base-border-radius;
        border: 1px solid $border-color;
    }
}
