@import "../../styles/variables.scss";

.profile{
    &__link{
        display: flex;
        align-items: center;
        cursor: pointer;

        &_icon{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: $white-color;
            font-size: 14px;
            line-height: 1.5;
            list-style: none;
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            white-space: nowrap;
            text-align: center;
            vertical-align: middle;
            background: rgba(0, 0, 0, 0.25);
            border: 1px solid transparent;
            border-radius: 50%;
        }

        &_name{
            font-family: 'Noto Sans', 'Noto Sans Fallback' !important;
            font-size: 14px !important;
            color: #FFF;
            margin-left: 8px;
        }
    }
}

.logout_button{
    background-color: transparent;
    border: none;
    padding: none;
    cursor: pointer;
}

.space{
    cursor: pointer;
    z-index: 11000 !important;
}

.dropdown ul{
    width: 106%;
    background-color: rgba(54, 54, 54, 0.815) !important;

}

.dropdown li:hover{
    background-color: rgb(73, 73, 73)!important;
}